::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}

body {
    background:url("https://raw.githubusercontent.com/mostafamohamedmostafa/foodshop/master/img/background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.header-title{
    margin-top: 5rem;
    -webkit-box-shadow: 6px 14px 54px 38px rgba(255,186,255,1);
    -moz-box-shadow: 6px 14px 54px 38px rgba(255,186,255,1);
    box-shadow: 6px 14px 54px 38px rgba(255,186,255,1);
}

.header-title-content{
    text-align: center;
    font-style: italic;
}

.header-head{
    color:lightseagreen;
    transition:ease-in-out 2s;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-transition:ease-in-out 2s;
    -moz-transition:ease-in-out 2s;
    -ms-transition:ease-in-out 2s;
    -o-transition:ease-in-out 2s;
}


.header-details{
    color:lime;
    transition:linear 3s;
    transition:linear 3s;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-transition:linear 3s;
    -moz-transition:linear 3s;
    -ms-transition:linear 3s;
    -o-transition:linear 3s;
}

.header-info{
    color:orange;
    transition:cubic-bezier(0.23, 1, 0.320, 1) 4s;
    transition:linear 3s;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-transition:linear 3s;
    -moz-transition:linear 3s;
    -ms-transition:linear 3s;
    -o-transition:linear 3s;
}