::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: url("https://raw.githubusercontent.com/mostafamohamedmostafa/foodshop/master/img/background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    text-align: center;


}

.header-title {
    text-align: center;
    width: 90%;
    height: 30vh;
    padding: 2rem;
    margin: auto;
    -webkit-box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    -moz-box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    border-radius: 107px 117px 10px 199px;
    -moz-border-radius: 107px 117px 10px 199px;
    -webkit-border-radius: 107px 117px 10px 199px;
    border: 0px solid #000000;
    -ms-border-radius: 107px 117px 10px 199px;
    -o-border-radius: 107px 117px 10px 199px;
}

.header-title-content {
    text-align: center;
    font-style: italic;
}

.header-head {
    color: lightseagreen;
    transition: ease-in-out 2s;
    -webkit-transition: ease-in-out 2s;
    -moz-transition: ease-in-out 2s;
    -ms-transition: ease-in-out 2s;
    -o-transition: ease-in-out 2s;
    background: linear-gradient(to left, #bdee0d 40%, rgb(228, 13, 13) 30%, #5bdaff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s reverse infinite;
    -webkit-animation: textclip 2s reverse infinite;
}


.header-details {
    color: lime;
    transition: linear 3s;
    transition: linear 3s;
    -webkit-transition: linear 3s;
    -moz-transition: linear 3s;
    -ms-transition: linear 3s;
    -o-transition: linear 3s;
}

.header-info {
    color: orange;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    transition: linear 3s;
    -webkit-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -moz-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -ms-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -o-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
}

.products-header h1{
   padding-top: 4rem;
   text-align: center;
   font-weight: 700;
   color: white;
   font-style: italic;
   margin: 15px;
   background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 1.5s linear infinite;
   -webkit-animation: textclip 1.5s linear infinite;
}



@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.products-header-title{
    text-decoration: wavy;
    text-decoration-color: blue;
    -moz-text-decoration-color: blue;
}


.products-items {
   padding: 15px;
   text-align: center;
   display: block;
   justify-content: center;
   border: crimson solid 3px;
   border-radius: 40%;
   -webkit-border-radius: 40%;
   -moz-border-radius: 40%;
   -ms-border-radius: 40%;
   -o-border-radius: 40%;
   width: 75%;
   margin: auto auto 20px auto;
}

.product-img img {
    width: 256px;
    height: 256px;
  
}

.product-img img:hover {
 transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 -o-transform: scale(1.1);
}



.product-details-name {
    color: darkgoldenrod;
}

.product-details-name:hover {
    color: darkgoldenrod;
}



.products-details-info {
    color: blue;
}



