::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: url("https://raw.githubusercontent.com/mostafamohamedmostafa/foodshop/master/img/background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    text-align: center;


}

.header-title {
    text-align: center;
    width: 90%;
    height: 30vh;
    padding: 2rem;
    margin: auto;
    -webkit-box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    -moz-box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    box-shadow: 6px 14px 54px 38px rgba(255, 186, 255, 1);
    border-radius: 107px 117px 10px 199px;
    -moz-border-radius: 107px 117px 10px 199px;
    -webkit-border-radius: 107px 117px 10px 199px;
    border: 0px solid #000000;
    -ms-border-radius: 107px 117px 10px 199px;
    -o-border-radius: 107px 117px 10px 199px;
}

.header-title-content {
    text-align: center;
    font-style: italic;
}

.header-head {
    color: lightseagreen;
    transition: ease-in-out 2s;
    -webkit-transition: ease-in-out 2s;
    -moz-transition: ease-in-out 2s;
    -ms-transition: ease-in-out 2s;
    -o-transition: ease-in-out 2s;
}


.header-details {
    color: lime;
    transition: linear 3s;
    transition: linear 3s;
    -webkit-transition: linear 3s;
    -moz-transition: linear 3s;
    -ms-transition: linear 3s;
    -o-transition: linear 3s;
}

.header-info {
    color: orange;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    transition: linear 3s;
    -webkit-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -moz-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -ms-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
    -o-transition: cubic-bezier(0.23, 1, 0.320, 1) 4s;
}

.products-header h1{
   padding-top: 4rem;
   text-align: center;
   font-weight: 700;
   color: white;
   font-style: italic;
   transition: all 5s;
   -webkit-transition: all 5s;
   -moz-transition: all 5s;
   -ms-transition: all 5s;
   -o-transition: all 5s;
   margin: 15px;
   text-decoration: underline;
   text-decoration-color:cornflowerblue ;
   -moz-text-decoration-color:cornflowerblue ;
}

.products-header-title{
    text-decoration: wavy;
    text-decoration-color: blue;
    -moz-text-decoration-color: blue;
}


.products-items {
   padding: 15px;
   text-align: center;
   display: block;
   justify-content: center;
   border: crimson solid 3px;
   border-radius: 40%;
   -webkit-border-radius: 40%;
   -moz-border-radius: 40%;
   -ms-border-radius: 40%;
   -o-border-radius: 40%;
   width: 75%;
   margin: auto auto 20px auto;
}

.product-img img {
    width: 256px;
    height: 256px;
  
}

.product-details-name {
    color: darkgoldenrod;
}

.products-details-info {
    color: blue;
}